<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Upahara</title>
</head>
<body>
    <header>
        <nav>
            <a href="" class="">Upahara</a>
            <ul>
                <li class="list-none">Home</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
    </header>
</body>
</html>